$font-libre: "Libre Franklin", cursive;
$font-baloo : "Baloo Thambi 2" , cursive;
$font-raleway : "Raleway" , cursive;
$font-rubik : "Rubik" , cursive;
$color-primary: #C41019;
$color-second : #e9e7e7;
$color-gray: #52141c;